.body {
  text-align: center;  
}

.gridContainer {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card {
  position: relative;
}

.artwork {
  position: absolute;
  z-index: 1;
}

.activeBean {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
}

.inactiveBean {
  position: absolute;
  left: 5px;
  z-index: 3;
  display: none;
}